################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################
.vs/
/.vs/Mysql_project_v2/CopilotIndices/17.14.698.11175/CodeChunks.db
